<div ng-controller="StandingsController">
	<table>
		<tr>
			<th>Rank</th>
			<th>Player</th>
			<th>Tier 1</th>
			<th>Tier 2</th>
			<th>Tier 3</th>
			<th>Tier 4</th>
			<th>QB</th>
			<th>RB</th>
			<th>WR</th>
			<th>TE</th>
			<th>Total Points</th>
		</tr>
		<tr ng-repeat="user in sorted">
			<td><b>{{sorted.indexOf(user) + 1}})</b></td>
			<td class="clickable"><a class="tableLink" href="#/users/{{user.id}}">{{user.first_name}} {{user.last_name}}</a></td>
			<td>{{user.total_wins}}-{{user.total_losses}}-{{user.total_ties}} ({{user.tier1}})</td>
			<td>{{user.total_points}} ({{user.tier2}})</td>
			<td>{{user.wins}}-{{user.losses}} ({{user.tier3}})</td>
			<td>{{ranks[user.tier4]}} ({{user.tier4}})</td>
			<td style="{{color(user, 'QB')}}">{{user.QB}}</td>
			<td style="{{color(user, 'RB')}}">{{user.RB}}</td>
			<td style="{{color(user, 'WR')}}">{{user.WR}}</td>
			<td style="{{color(user, 'TE')}}">{{user.TE}}</td>
			<td>{{user.tier1 + user.tier2 + user.tier3 + user.tier4}}</td>
		</tr>
	</table>
</div>