button {
    background-color: #69DB42;
    color: white;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover, button:active {
    background-color: red;
}

h1.player {
	margin-left: 10px;
}

table.user-detail {
	color: #333; /* Lighten up font color */
	font-family: Helvetica, Arial, sans-serif; /* Nicer font */
	width: 25%;
	margin-left: 5%;
	collapse; border-spacing: 0;
	margin-top: 20px;
}