<div>
	<h1 class="player">{{user.first_name}} {{user.last_name}}</h1>
	<div class="row">
	  	<div class="column">
			<table class="user-detail">
				<thead>
					<tr>
						<th>Stat</th>
						<th>Total</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="stat in stats">
						<td>{{stat.name}}</td>
			      		<td><input ng-model="user[stat.label]" type="number" min="{{stat.min}}" max="{{stat.max}}" /></td>
			      		<td><button ng-click="update(stat)">Save</button></td>
			    	</tr>
		    	</tbody>
			</table>
		</div>
	  	<div class="column">
			<table class="user-detail">
				<thead>
					<tr>
						<th>Week</th>
						<th>Points</th>
						<th></th>
					</tr>
				</thead>
				<tbody class="scrollable">
					<tr ng-repeat="week in weeks">
						<td>{{week.number}}.</td>
			      		<td class="wide"><input ng-model="user[week.label]" type="number" min="0" max="999" step="0.5" /></td>
			      		<td><button ng-click="update(week)">Save</button></td>
			    	</tr>
		    	</tbody>
			</table>
		</div>
	</div>
</div>