button {
    background-color: #69DB42;
    color: white;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

button:hover, button:active {
    background-color: red;
}

h1.player {
	margin-left: 20px;
}

table.user-detail {
	color: #333; /* Lighten up font color */
	font-family: Helvetica, Arial, sans-serif; /* Nicer font */
	width: 100%;
	margin-top: 0;
}

/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 300px;
    height: 500px;
    overflow-y: scroll;
 	display: block;
    padding: 20px;
    padding-top: 0;
}